
.cjLinkBtn{
    background: url(../image/cj_azure_search_btd.png) no-repeat;
    position: absolute;
    top: 24%;
    left: 22%;
    width: 142px;
    height: 142px;
    transform: translateX(20%);
  }
  
  
  